/* search box*/
.searchBoxMovie {
  outline: none;
  width: 93%;
  border: 1px solid grey;
  font-size: 1rem;
 
  border-radius: 0.5rem;

}
.searchBoxMovieYear {
  outline: none;
  width: 90%;
  border: 1px solid grey;
  font-size: 1rem;
 
  border-radius: 0.5rem;

  
}
.divDropSearch{
  display: inline-block !important;
  background-color: yellow;
}
.css-o69gx8-MuiCardMedia-root {
  /* height:"200px" !important; */
}
.cardIMG {
  object-fit: fill;
}
.cardMovie {
  margin: 2%;
}
.conatiner{
  display: grid;
  grid-template-columns: 7fr 2fr 1fr 2fr;
  margin-left: 2%;
  
  margin-top: 10px;
  padding: 1%;

}
